@media (max-width: 380px) {
  header > div > div {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  header > div > div > div:last-child {
    gap: 0.25rem;
  }

  header button[aria-label="Sign in"] span.truncate,
  header button[aria-label^="View profile"] span.truncate {
    display: none;
  }

  header button[aria-label*="pinned opportunities"] {
    gap: 0.25rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
}

@media (max-width: 1199px) {
  header > div > div > div:last-child > .board-language-picker {
    display: none;
  }
}

@media (max-width: 767px) {
  header [data-vanilla-mobile-menu] .board-language-picker {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  footer [data-footer-language] {
    display: none;
  }
}
